body {
  padding: 0;
  margin: 0;
}

.options {
  margin-top: 1em
}

.monospace {
  font-family: Menlo, "宋体", sans-serif;
}

.align-center {
  text-align: center
}

.align-right {
  text-align: right
}

.st-table {
  border-collapse: collapse;
  table-layout: fixed;
}